sudo: required

language: python

matrix:
  include:
  - python: "3.7"
    env: PYTHON_VERSION=python3

services:
- docker

env:
  global:
  - TRAVIS_USERNAME=sbrunner
  - secure: EuOwzJOL1IUt4j8PYxsjIa9iTiGxHN1IwuhIyKJ2QZy3kO2/VQP7z1CUPAjxiXSCA8kwhK+Xq2mqwRfCPBH/CHHE6gZuHRkqd5wOn4ireifYFoBt6MGBPZvTr5S5ha2POUMXuBqpbzey5bMUNUabrS9VbUGSmCNnFnNu/gnPOi31Fw3PIVdjI1+k2JqbBMbDHlUYCDR2lInisGQaQE3mCrs8kmCa4h1FhamANCIHarrxkNsEH5YzBGbnJUbCQrHEEyVq6oNO1jcMrRf3KJR2hwgg8onr9t9/pDFbYUhuPyrewp3UOmmqWPkfR3Z9So69Tcgkz4+G0XXJizF/dQLJZTRWjdcZnI6aeLj8a32JcUPlrDEqjLajK+8rkgv1pD01I+8FyQnVTYARGlovZ6gn+5UTx3SddByEVARIGiOkLY9RrTWe1AuImMBCYYXKKWL4OIvW02fILMWU1JuGGqa+CAUSpRznfZc1bCKbS6iL1xtsRX9dnHkg4S5NKhXlbYYsXhyuztv8rkh/jXEYaqptHtQU3D1+cyD0bT5Wx5PhZSKQJ48p73+SZXHXGeHGdV/P0mT7YhNxwaQA6cbCH65rOQZ1zQaF6/N2CNgYDiJp5aYzLjol9hncH+WJh2AwdhujFewgxbTO8dOypXrNTlM1EfTBZ6oQriLSWbXbMI6VsUc=
  - DOCKER_USERNAME=sbrunner
  - secure: Jaue9MKSY5BcZSJ8/E+saS885xQfxDF10Tflew8vUBsBqQOoumzB/yE697xNXgTfdrwfDJDR9zo2yB32j0z5oRN8V7H5Lhxu1vCeg3XFYkM8U6jlAP6uTH0cOl3EUIalCI9+SPaYRSC70z5l1n4sQDMaxNeaS8FaobWC/+EsCq5SO7cNDW5ZzLlCbgOF/lK8SDPJJsnSHU9Sr4RjdXtB2R3nGiIgfMUSHH2+pv6BHFV6APjvr+cnAii+TZwXXzca5i2MExh2kcMArTTpzBQlorVAXtxIlL1AtOUNktQJBabFxoo0VFOn9+xPIFNnqNVuqaRsysDmIrdlhMzvbZahJxx/1W4hHn4ITNOt+vhxZ+/C2FhauZMB+F1r1S7JIHr891PoLl7TlAGM3xqU24/KIRV/VsMQQqxUzW9DkuQ7d25qkWOCis78abrgeTyrT4FZlxU93WjxeXJfQ1Dcpzjd6l7X/ZEKAQnDSxyZlNfuepVUqRVnkg7e/9/ezIWOcvW1Jm+nAtAvPsbqYvO6/io8VsvwPK6K1d0h7uhAZw128lzwvg8tHrGgXglJKKpo4YbK3G9ohCEYYuJEnZh7DE/1LRyql+3IXHUTUn+aD53jvHHCE4YfCSQPJUOsgr3HirG8HDkXbTZiObE0rRKENDTFkFmXWPwhCySgvDVvfu/037s=
  - GITHUB_USERNAME=c2c-bot-gis-ci
  - secure: nDtb/Jx2JnFB8KLg2YES5fTdk/qZ3zDyDwd6HR21Vz+QNSwdwy4k+C+LjTMefGg4tPnuJ+MP43jbF2QmYLttJiB20Oi6sXyvZtoiCwEHzSRd12/aozlbLWQO+FXJRo54IT+T4hao7THeuihXSEmtscZwjdE/xBFTwYXJ9QRpfPhnYSjdZFuiFTlwB7RT78SunL4C6aZDf3OhCw/VGk0bxoWnZdqVm1Ek5ZDkRxPVK6t2S2tMjfM82Tmioi/HsJ1+h2Eb2ny3FR19NpRDllfv71SedtSut/EQbXaNOzJHoh41eXJpNMNQHHD+IrBzbqvAZjJnepm+wYq98+SZOLlmOKwpdnZQRNoDYba3Gl/XBkgw1lB1k0fDHEn+hIBhikFwxyWjIqtPPlL3B8ZyLXyRD43zizaoe7WBFfJEB9lBzmGKxjQkF/N2t9jIhTbWu4K9vRaMC17gmm8kEVkb4loirEn0fAvFtXDuv7RFkETKOv5P9lP4QFxdzRzmsfZ70OPuJSZXasK2v30QjeW+17KDwK+iqUbfsNPM82zBfnkUuaNS8ciZDrBdsMuboX88iLGxyXCQk6cpBVCH0XQI31D8LktepktUzOJ5yIp9oTCQs59lptN6ScuublXdrnVjNQHaJFQckZ7OMcqEn3bA+8e411FGRtA9aD8t3KM/eyveISw=

install:
- sudo service postgresql stop
- make install

script:
- make git-attributes
- make lint
- make tests-docker-setup-db
- PYTHON_TEST_VERSION=python3.6 make tests
- PYTHON_TEST_VERSION=python3.7 make tests
- PYTHON_TEST_VERSION=python3.8 make tests
- '[ $TRAVIS_PYTHON_VERSION != "3.7" ] || make build-docker .'
- make doc

after_success:
- git clean -x

before_deploy:
- pip install sphinxcontrib-versioning 'Sphinx<1.6' Mako sphinx_rtd_theme --editable .[recommend]
- openssl aes-256-cbc -K $encrypted_43de73a10f25_key -iv $encrypted_43de73a10f25_iv -in deploy_rsa.enc -out ~/.ssh/id_rsa -d
- eval "$(ssh-agent -s)"
- chmod 0600 ~/.ssh/id_rsa
- ssh-add ~/.ssh/id_rsa
- git remote set-url --push origin "git@github.com:$TRAVIS_REPO_SLUG"

deploy:
- provider: script
  script: sphinx-versioning push doc/source/ gh-pages doc
  skip_cleanup: true
  on:
    branch: master
    repo: openoereb/pyramid_oereb
    python: '3.7'
- provider: script
  script: sphinx-versioning push doc/source/ gh-pages doc
  skip_cleanup: true
  on:
    tags: true
    repo: openoereb/pyramid_oereb
    python: '3.7'
- provider: pypi
  server: https://upload.pypi.org/legacy/
  user: jwkaltz
  password:
    secure: aHXU1l2Tcj7r25w9Lo1jSwS56R66348yENLLjYArkG+wlDAFyPOV2ND+F/8ytN0ikzXJCp9w+5MWY4zOu9q/TQqNOiWc8X8YmaxxxosqiLgk+tzM3C+tdg9/3oB70Jc2Pb27XmGMAEMCynGbuX4t0P4Eiz04BtcwMtiNJf10ewpa+auNWYsB/pbzt/zPko608q7Gs2N0twPIG0euVHiDdYNDT/mZxHKdnbTrTuFnltMDGqCznYxB6y01V/SsXVdbVeY/TKFolqark9FrcWWjXMttdjirtX3v/FcECh22SIxKysm6SVpyOM/EWWFlD/x37M5l9H1rpMDxTDFOaBaxrjCKmEy8RGhrhe4rAL9gS/Or6QO7BfJP1xbUdvu7QB/7lVUJ92d3mbwQ2EmgEyvpRvWsT3wbKRwotXT2WOpkTYg99pQ4IvdY/u3E8UG0D05d1A8DKFK7qtmyfwhltfzZX/Xm7M74US1rLU0ANRkKB5dgWNeEw6RgYsdbu6/7AbmMrzoIWWmVgvRfRjtHhJbu29toXjvc86sNfOm9zI97VYQdK0VsQwJri9SsPTiiRManFhdM9Gk24BVfY1L83MRpw6hMuNVrTqjSz63TS/D2iU6VUhXdxA55Bec9AHjOMlNzahgDVH21+QqRLH1UgQXC0z9JdcHu4wk52RbFtUni5kw=
  distributions: sdist bdist_wheel
  skip_upload_docs: true
  skip_cleanup: true
  on:
    tags: true
    repo: openoereb/pyramid_oereb
    python: '3.7'
- provider: script
  script: travis/deploy-daily-pypi-build.sh
  on:
    condition: '"${TRAVIS_EVENT_TYPE}" = cron'
    repo: openoereb/pyramid_oereb
    python: '3.7'
- provider: script
  script: travis/deploy-docker.sh
  skip_cleanup: true
  on:
    branch: master
    repo: openoereb/pyramid_oereb
    python: '3.7'
- provider: script
  script: travis/deploy-docker.sh
  skip_cleanup: true
  on:
    tags: true
    repo: openoereb/pyramid_oereb
    python: '3.7'

notifications:
  email: false
