pytest==3.5.0
pytest-cov==2.5.1
pytest-ordering==0.5
pyflakes==1.6.0
flake8==3.5.0
pycodestyle==2.3.1
psycopg2==2.7.4
McCabe==0.6.1
c2c.template==2.0.5  # rq.filter: <= 2.0.5
requests-mock==1.4.0
-e .
