pyflakes==2.5.0
flake8==5.0.4
pycodestyle==2.9.1
psycopg2==2.9.3
McCabe==0.7.0
Sphinx==4.3.2  #  sphinx >= 5 conflicts with flake due to changes in importlib-metadata
sphinx_rtd_theme==1.0.0
c2c.template==2.3.0
yappi
-e .
