version: "3.7"

services:
  oereb-server:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      PGHOST: ${PGHOST:-oereb-db}
      PGPORT: ${PGPORT:-5432}
      PGUSER: ${PGUSER:-postgres}
      PGPASSWORD: ${PGPASSWORD:-postgres}
      PYRAMID_OEREB_PORT: ${PYRAMID_OEREB_PORT:-6543}
      VENV_ROOT: /venvs/.venv
    volumes:
      - .:/workspace:cached
    working_dir: /workspace
    ports:
      - ${PYRAMID_OEREB_PORT:-6543}:${PYRAMID_OEREB_PORT:-6543}
    networks:
      - default
      - print-network

  oereb-db:
    image: postgis/postgis
    restart: unless-stopped
    environment:
      POSTGRES_DB: ${PGDATABASE:-pyramid_oereb_test}
      POSTGRES_USER: ${PGUSER:-postgres}
      POSTGRES_PASSWORD: ${PGPASSWORD:-postgres}
      PGUSER: ${PGUSER:-postgres}
      PGPORT: ${PGPORT:-5432}
      PGPASSWORD: ${PGPASSWORD:-postgres}
      EXPOSED_PGPORT: ${EXPOSED_PGPORT:-5432}
    ports:
      - ${EXPOSED_PGPORT:-5432}:${PGPORT:-5432}
    volumes:
      - ./dev/database/structure:/docker-entrypoint-initdb.d

networks:
  print-network:
    external: true
