include pyramid_oereb/standard/pyramid_oereb.yml.mako
include pyramid_oereb/standard/images/logos/logo_confederation.png
include pyramid_oereb/standard/images/logos/logo_oereb.png
include pyramid_oereb/standard/images/logos/logo_sample.png
include pyramid_oereb/standard/templates/plr.py.mako
