--index-url http://pypi.camptocamp.net/pypi
--find-links http://pypi.camptocamp.net/internal-pypi/index/c2cgeoportal-win
-r requirements.txt
wheels/psycopg2-2.5.5-cp27-none-win32.whl
wheels/Shapely-1.5.13-cp27-none-win32.whl
wheels/Pillow-2.8.1-cp27-none-win32.whl
https://github.com/Pylons/pyramid/archive/1e02bbfc0df09259bf207112acf019c8dba44a90.zip#egg=pyramid>=1.6.dev
-e .
