PyPDF2==1.26.0
filetype==1.0.10
geoalchemy2==0.10.2
pyramid==1.10.8 # rq.filter: <2
pyramid-debugtoolbar==4.9
shapely==1.8.1
SQLAlchemy==1.4.31
pyaml-env==1.1.4
urllib3[secure]==1.26.8
waitress==2.1.1
pyreproj==2.0.0
mako-render==0.1.0
requests==2.27.1
geolink-formatter==2.0.1
pyconizer==0.1.4
c2cwsgiutils[standard]==5.*
