PyPDF2==1.26.0
dicttoxml==1.7.4
filetype==1.0.7
geoalchemy2==0.8.4
psycopg2-binary==2.8.6
pyramid==1.10.4
pyramid-debugtoolbar==4.6.1
PyYAML==5.3.1
shapely==1.6.4.post1  # rq.filter: ==1.6.4.post1
simplejson==3.17.2
SQLAlchemy==1.3.19
sqlalchemy-utils==0.36.8
transaction==3.0.0
urllib3[secure]==1.25.10
waitress==1.4.4
zope.sqlalchemy==1.3
jsonschema==3.2.0
pyproj==1.9.6  # rq.filter: <2.0.0
pyreproj==1.0.1 # rq.filter: <2.0.0
lxml==4.5.2
requests==2.24.0
geolink-formatter==1.5.3
pyconizer==0.1.4
tqdm==4.50.0
numpy==1.19.2
defusedxml==0.6.0
