dicttoxml==1.7.4
geoalchemy2==0.4.0
psycopg2==2.7.3.1
pyramid==1.9.1
pyramid_debugtoolbar==4.3
PyYAML==3.12
shapely==1.6.1
simplejson==3.11.1
SQLAlchemy==1.1.14
sqlalchemy-utils==0.32.16
transaction==2.1.2
waitress==1.0.2
zope.sqlalchemy==0.7.7
jsonschema==2.6.0
pyreproj==1.0.0
lxml==3.8.0
generateDS==2.28b0
requests==2.18.4
geolink_formatter==1.1.0
pyconizer==0.1.2
