name: daily check
on:
  schedule:
    - cron: "30 04 * * *"

jobs:
  test-fed-data:
    name: Check federal data definitions
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - run: sudo rm /etc/apt/sources.list.d/*.list
      - run: sudo apt update
      - run: sudo apt-get install xsltproc
      - name: Check updates of federal data
        run: >
          (make check_fed_data
          && echo "::Notice ::The federal data definitions seem to be up to date.")
          || (exit_code=$?;
          echo "::warning ::The federal data definitions seem to be out of date. Check fed.urls if the links are still valid. You may use the tools 'make update_fed_data_urls' and 'make auto_update_fed_data'.";
          exit $exit_code)

  test-py:
    name: Test Python
    runs-on: ubuntu-22.04
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgis/postgis
        # Provide the password for postgres
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    strategy:
      matrix:
        python-version:
          - python3.9
          - python3.10
          - python3.11
          - python3.12
    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - run: sudo rm /etc/apt/sources.list.d/*.list
      - run: sudo apt update
      - run: sudo apt-get install libpq-dev
      - name: Run tests for Python ${{ matrix.python-version }}
        env:
          PYTHON_TEST_VERSION: ${{ matrix.python-version }}
        run: make tests
      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
      - name: Install pypa/build
        run: >-
          python -m
          pip install
          build
          --user
      - name: Build a binary wheel and a source tarball
        run: >-
          python -m
          build
          --sdist
          --wheel
          --outdir dist/
          .
